<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Products" type="GDax.Settings.ProductConfigurationSection, GDax" />
  </configSections>
  <Products>
    <CurrencyPairs>
      <add base="BitCoin" target="Dollar"  />
      <add base="BitCoinCash" target="Dollar"  />
      <add base="Etherium" target="Dollar"  />
      <add base="LiteCoin" target="Dollar"  />
    </CurrencyPairs>
  </Products>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>